* {
    margin: 0;
    padding: 0;
    box-sizing; border-box;
}
#container  {
	width:970px;
    margin: auto;
    background-color: #f9f9f9;
}

#header {
    padding:15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-content {
    padding:20px;
    background: linear-gradient(#1f0f13,#6f5964);
}
#main-content p {
	margin-bottom: 15px;
	padding-left: 10px;
}
#main-content a{
	padding-left: 10px;
}
#about-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
#footer{
    text-align: center;
    padding: 10px;
    background-color: #f9f9f9;
}
#social-network {
    display: flex;
    width: 362px;
    padding: 10px;
    margin: auto;
}
#footer img {
	width: 20px;
	margin:auto;
}