* {
    margin: 0;
    padding: 0;
    box-sizing; border-box;
}
#container  {
	width:970px;
    margin: auto;
    background-color: #f9f9f9;
}

#header {
    padding:15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-content {
    padding:20px;
    background: linear-gradient(#1f0f13,#6f5964);
}
#main-content p {
	margin-bottom: 15px;
	padding-left: 10px;
}
#main-content a{
	padding-left: 10px;
}
#about-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#about-section img {
    width: 400px;
    height: 280px;
    border: 5px solid gray;
}

#about {
    background-color: #FAF8FA;
    width: 490px;
}

.small-header {
    background-color: #8C8B97;
    margin-bottom: 10px;
    padding: 5px 10px;
    color: white;
}

#about p {
    padding: 5px;
}

#second-p-about {
    margin-top: 20px;
    margin-bottom: 30px;
}

.about a {
    margin-top: 20px;
    margin-right: 5px;
}

#middle-section {
    display: flex;
    justify-content: space-between;
}

.projects {
    width: 295px;
	height: 600px;
    background-color: white;
}
.sub-project {
    height: 350px;
}
.projects img {
    width: 293px;
}
.icon-box {
    justify-content: space-evenly;
    padding:10px 0px 0px 10px;
}
.icon-box img {
    width: 40px;
    height: 40px;
    margin-right: 7px;
}
.projects button { 
    background-color: green;
	color:white;
    border:solid 1px black;
	border-radius: 3px;
	padding:5px;
	margin: 10px 80px;
	/* font-weight: 900 */
}
#footer{
    text-align: center;
    padding: 10px;
    background-color: #f9f9f9;
}
#social-network {
    display: flex;
    width: 362px;
    padding: 10px;
    margin: auto;
}
#footer img {
	width: 20px;
	margin:auto;
}